<header class="header-wrapper">
  <div class="topbar clearfix">
    <div class="container">
      <ul class="topbar-left">
        <li class="phoneNo"><i class="fa fa-phone"></i>0123 45678910</li>
        <li class="email-id hidden-xs hidden-sm"><i class="fa fa-envelope"></i>
          <a href="mailto:info@yourdomain.com">info@yourdomain.com</a>
        </li>
      </ul>
      <ul class="topbar-right">
        <li class="hidden-xs"><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li class="hidden-xs"><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li class="hidden-xs"><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li class="hidden-xs"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
        <li class="hidden-xs"><a href="#"><i class="fa fa-rss"></i></a></li>
        <li class="top-search list-inline">
          <a href="#"><i class="fa fa-search"></i></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <span class="input-group">
                <input type="text" class="form-control" placeholder="Course Name">
                <button type="submit" class="btn btn-default commonBtn">Search</button>
              </span>
            </li>
          </ul>
        </li>
        <li class="dropdown language">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-globe"></i>EN
          <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li class="active">
                  <a href="#">English </a>
            </li>
            <li><a href="#">Spanish</a></li>
            <li><a href="#">Russian</a></li>
            <li><a href="#">German</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="header clearfix">
    <nav class="navbar navbar-main navbar-default">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="header_inner">

              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo clearfix" href="index.html">
                  <%= image_tag "logo.png", class: "img-responsive"%></a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                    <ul class="dropdown-menu">
                      <li><a href="/">Home Default</a></li>
                      <li><a href="/home-course">Home Course</a></li>
                      <li><a href="home-university">Home University</a></li>
                    </ul>
                  </li>
                  <li class=" dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses</a>
                    <ul class="dropdown-menu">
                      <li><a href="/courses">Course List</a></li>
                      <li><a href="/course-single">Course Single</a></li>
                    </ul>
                  </li>
                  <li class=" dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to "About Us", '/about-us' %>    
                      </li>
                      <li>
                        <%= link_to "Student services", '/student-services' %>    
                      </li>
                      <li>
                        <%= link_to "Campus Facilities", '/campus-facilities' %>    
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apply Now</a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "Apply For Addmission", '/admission-procedure' %>
                          </li>
                          <li><a href="buying-confirmation.html">Confirmation</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Prices Table</a>
                        <ul class="dropdown-menu">
                          <li><a href="price-table-3col.html">Prices 3 column</a></li>
                          <li><a href="price-table-4col.html">Prices 4 column</a></li>
                        </ul>
                      </li>
                      <li><%= link_to "Our Campus", '/the-university' %>
                      </li>
                      <li><%= link_to "Our Staff", '/staff' %></li>
                      <li><%= link_to "International Students", '/international-students-application-procedures' %>
                      </li>
                      <li><%= link_to "Contact Us", '/contact' %></li>
                      <li><a href="privacy-policy.html">Privacy Policy</a></li>
                      <li><a href="404-error.html">404 Not Found</a></li>
                      <li><a href="coming-soon-dark.html" target="_blank">Coming Soon</a></li>
                    </ul>
                  </li>
                  <li class=" dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                    <ul class="dropdown-menu">
                      <li><a href="/blog-list">Blog List</a></li>
                      <li><a href="/blog-single">Blog Single</a></li>
                    </ul>
                  </li>
                  <li class=" dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events</a>
                    <ul class="dropdown-menu">
                      <li><a href="/events">Events</a></li>
                      <li><a href="/single-event">Single Event</a></li>
                      <li><a href="/event-calendar" data-turbolinks="false">Events Callender</a></li>
                    </ul>
                  </li>
                  <li class="apply_now"><a href="buying-steps.html">Apply Now</a></li>
                </ul>
              </div><!-- navbar-collapse -->
            </div>
          </div>
        </div>
      </div><!-- /.container -->
    </nav><!-- navbar -->
  </div>
</header>