<div class="main_wrapper">
  <div class="content_top clearfix">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="content_left features">
            <h1>SAGE University</h1>
            <p>SAGE University is where technology, innovation and entrepreneurship come together to create a dynamic learning environment. Learning for employment is key at SAGE. SAGE UNIVERSITY is the top innovative university in central India that not only helps you to dream, but also drives you, motivates you and gears you up to bring in that very essential component called changes that makes our tomorrow better.. Future is the dream we all pursue, a dream of a better lifestyle, quality life, better amenities, infrastructure, facilities and so on, ………..but, only a few of us strive today to bring in the changes tomorrow and that is where we are different. Here at SAGE we have a futuristic approach to fulfill your dreams.</p>

            <p>Established by the legendary SAGAR Group of Education Society of central India and awarded as the best emerging university in central India. The SAGAR Group is bringing the happiness to society since 1983 and currently under the umbrella of SAGE more than 9000 students are getting quality education. SAGE has a vision to nurture intellectual capital through the center of excellence which is governed by best practices in quality education and mission to strive and pursue with the commitment and dedication using the technological advancements and motivated team the path that leads the fulfillment of the vision. Listed in the top Universities SAGE is geared to produce high-caliber graduates having the skills to build exciting and rewarding careers.</p>

            <p>SAGE UNIVERSITY has been established by an Act of State Government of Madhya Pradesh, in exercise of powers conferred by Sub-Section (1) of Section 28 of the Madhya Pradesh Niji Vishwavidyalaya (Sthapna avam Sanchalan) Adhiniyam, 2007, as notified by the Higher Education Department, State Government of M.P., in the Ordinary Gazette of M.P. SAGE UNIVERSITY is located in the lush green environment away from hustle & bustle at the hill top in Indore.</p>
            <ul>
              <li><i class="fa fa-check-circle-o"></i>It’s a complete solution for your college website</li>
              <li><i class="fa fa-check-circle-o"></i>PSD file included to help you customize the design better</li>
              <li><i class="fa fa-check-circle-o"></i>SASS file included for unlimited hasel free style customization</li>
              <li><i class="fa fa-check-circle-o"></i>Theme option switcher for live cusomization preview</li>
              <li><i class="fa fa-check-circle-o"></i>24/7 Support</li>
            </ul>
          </div><!--end content left-->
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="content_right">
            <div class="banner" id="about_banner">
              <ul class="slides">
                <li>
                  <%= image_tag "about-slide-01.jpg"%>
                  <div class="about_caption">
                    <h2> Dedicated support stuffs for students</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-02.jpg"%>
                  <div class="about_caption">
                    <h2>Nice classrooms with wifi</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-03.jpg"%>
                  <div class="about_caption">
                    <h2>Rich library - open 24/7</h2>
                  </div><!--end banner_caption-->
                </li>
              </ul>
            </div><!--end banner-->
          </div><!--end content left-->
        </div>
      </div><!--end row-->
    </div><!--end container-->
  </div><!--end content top-->
  <div class="count_section clearfix">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="count_title">
            <h1>What we have</h1>
          </div><!--end count inner-->
        </div>
      </div><!--end row-->
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="count_inner">
            <h1>18298</h1>
            <h3>Undergraduate <br/> Students</h3>
          </div><!--end count inner-->
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="count_inner postgraduate">
            <h1>24583</h1>
            <h3>Postgraduate <br/> Students</h3>
          </div><!--end count inner-->
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="count_inner res">
            <h1>37904</h1>
            <h3>Research <br/> Students</h3>
          </div><!--end count inner-->
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="count_inner stuff">
            <h1>892</h1>
            <h3>Teacher and <br/> Stuff Members</h3>
          </div><!--end count inner-->
        </div>
      </div><!--end row-->
    </div><!--end container-->
  </div><!--end section-->
  <div class="content_bottom clearfix">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="carousal_title">
            <h1>What our students say</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="carousal_section">
            <ul class="slides">
              <li>
                <div class="carousal_content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate </p>
                </div>
                <div class="carousal_bottom">
                  <div class="thumb">
                    <%= image_tag "ALICE-WILLIAMS_Business-Student.jpg"%>
                  </div>
                  <div class="thumb_title">
                    <span class="author_name">Alice Williums</span>
                    <span class="author_designation">Business Student<a href="#"> Apple Inc</a></span>                    
                  </div>
                </div><!--end carousal bottom-->
              </li>
              <li>
                <div class="carousal_content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate </p>
                </div>
                <div class="carousal_bottom">
                  <div class="thumb">
                   <%= image_tag "JOHN-DOE_PHD-Student.jpg"%>
                 </div>
                 <div class="thumb_title">
                  <span class="author_name">John Doe</span>
                  <span class="author_designation">PHD Student<a href="#"> Apple Inc</a></span>                   
                </div>
              </div><!--end carousal bottom-->
            </li>
            <li>
              <div class="carousal_content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate </p>
              </div>
              <div class="carousal_bottom">
                <div class="thumb">
                  <%= image_tag "SARA-LISBON_Art-Student.jpg"%>
                </div>
                <div class="thumb_title">
                  <span class="author_name">Sara Lisbon</span>
                  <span class="author_designation">Art Student<a href="#"> Apple Inc</a></span>                   
                </div>
              </div><!--end carousal bottom-->
            </li>
            <li>
              <div class="carousal_content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate </p>
              </div>
              <div class="carousal_bottom">
                <div class="thumb">
                  <%= image_tag "TOM-HUDSON_Research-Student.jpg"%>
                </div>
                <div class="thumb_title">
                  <span class="author_name">Tom Hudson</span>
                  <span class="author_designation">Research Student<a href="#"> Apple Inc</a></span>                    
                </div>
              </div><!--end carousal bottom-->
            </li>
          </ul>
        </div><!--enc carousal_section-->
      </div>
    </div><!--end row-->
  </div><!--end container-->
 </div><!--end content_bottom-->
</div>
<!-- 
<script type="text/javascript">
  $(document).ready(function(){
    $('#about_banner').owlCarousel({
      nav:true
    });
  });
</script> -->