<div class="main_wrapper">
  <div class="content_top clearfix">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="content_right">
            <div class="banner" id="about_banner">
              <ul class="slides">
                <li>
                  <%= image_tag "about-slide-01.jpg"%>
                  <div class="about_caption">
                    <h2> Dedicated support stuffs for students</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-02.jpg"%>
                  <div class="about_caption">
                    <h2>Nice classrooms with wifi</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-03.jpg"%>
                  <div class="about_caption">
                    <h2>Rich library - open 24/7</h2>
                  </div><!--end banner_caption-->
                </li>
              </ul>
            </div><!--end banner-->
          </div><!--end content left-->
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="content_left features">
            <h1>Auditoriums and Classrooms</h1>
            <p>The SAGE University has two auditorium and one seminar hall in the campus.There is a beautiful and more spacious Stage fitted with attractive lighting systems and Fire-Proof Curtains, Big Screen for Projection with LCD Facilities, latest Sound Systems etc.</p>
          </div><!--end content left-->
        </div>
      </div><!--end row-->
      <br>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="content_left features">
            <h1>Cafeteria</h1>
            <p>Our cafeteria serves a wide range of  Asian and Western food. It is a popular hang-out spot for students during breaks, as they munch on some snacks and delectable treats while having a group discussion or while working on their assignments.</p>
          </div><!--end content left-->
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="content_right">
            <div class="banner" id="about_banner2">
              <ul class="slides">
                <li>
                  <%= image_tag "about-slide-01.jpg"%>
                  <div class="about_caption">
                    <h2> Dedicated support stuffs for students</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-02.jpg"%>
                  <div class="about_caption">
                    <h2>Nice classrooms with wifi</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-03.jpg"%>
                  <div class="about_caption">
                    <h2>Rich library - open 24/7</h2>
                  </div><!--end banner_caption-->
                </li>
              </ul>
            </div><!--end banner-->
          </div><!--end content left-->
        </div>
      </div><!--end row-->
      <br>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="content_right">
            <div class="banner" id="about_banner5">
              <ul class="slides">
                <li>
                  <%= image_tag "about-slide-01.jpg"%>
                  <div class="about_caption">
                    <h2> Dedicated support stuffs for students</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-02.jpg"%>
                  <div class="about_caption">
                    <h2>Nice classrooms with wifi</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-03.jpg"%>
                  <div class="about_caption">
                    <h2>Rich library - open 24/7</h2>
                  </div><!--end banner_caption-->
                </li>
              </ul>
            </div><!--end banner-->
          </div><!--end content left-->
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="content_left features">
            <h1>Engineering Labs</h1>
            <p>Engineering principles learnt at different levels are enhanced by exposure to practical sessions supported by hands-on laboratory work. This is undertaken in the fully-equipped laboratories for Analogue and Digital Electronics, Communication Engineering, Power System, Robotics, PLC Controls, Pneumatics and Automation, Mechanical Equipment, Mechanical Workshop and as well as Materials and Testing Laboratories.</p>
          </div><!--end content left-->
        </div>
      </div><!--end row-->
      <br>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="content_left features">
            <h1>IT Labs</h1>
            <p>All students have access to state-of-the-art computer facilities that include the latest PCs and workstations with Internet connection, operating systems, software suites and commercial programming software in multiple IT labs built for project work, multimedia production, software and internet programming. Furthermore, all around the campus you will have access to wireless Internet so you can learn anywhere, anytime</p>
          </div><!--end content left-->
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="content_right">
            <div class="banner" id="about_banner4">
              <ul class="slides">
                <li>
                  <%= image_tag "about-slide-01.jpg"%>
                  <div class="about_caption">
                    <h2> Dedicated support stuffs for students</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-02.jpg"%>
                  <div class="about_caption">
                    <h2>Nice classrooms with wifi</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-03.jpg"%>
                  <div class="about_caption">
                    <h2>Rich library - open 24/7</h2>
                  </div><!--end banner_caption-->
                </li>
              </ul>
            </div><!--end banner-->
          </div><!--end content left-->
        </div>
      </div><!--end row-->
      <br>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="content_right">
            <div class="banner" id="about_banner3">
              <ul class="slides">
                <li>
                  <%= image_tag "about-slide-01.jpg"%>
                  <div class="about_caption">
                    <h2> Dedicated support stuffs for students</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-02.jpg"%>
                  <div class="about_caption">
                    <h2>Nice classrooms with wifi</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-03.jpg"%>
                  <div class="about_caption">
                    <h2>Rich library - open 24/7</h2>
                  </div><!--end banner_caption-->
                </li>
              </ul>
            </div><!--end banner-->
          </div><!--end content left-->
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="content_left features">
            <h1>Library</h1>
            <p>Our library is a gateway to a comprehensive collection of books, journals, periodicals, student projects and other related publications to support learning and research for all students and staff.</p>
            <p>In addition, you can access online digital libraries from leading providers such as Proquest, Athens, Emerald, ACM and Current Law Journals.</p>
          </div><!--end content left-->
        </div>
      </div><!--end row-->
      <br>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="content_left features">
            <h1>Transportation</h1>
            <p>The SAGE University provides transport facilities to the students and the staff from University campus to across the Indore City as well as for Dewas, Manpur, Dhar, Sendhwa city.  The timing is scheduled in such a way that all the buses reach/leaved the College campus in time. The bus fee will charge separately.</p>
          </div><!--end content left-->
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="content_right">
            <div class="banner" id="about_banner6">
              <ul class="slides">
                <li>
                  <%= image_tag "about-slide-01.jpg"%>
                  <div class="about_caption">
                    <h2> Dedicated support stuffs for students</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-02.jpg"%>
                  <div class="about_caption">
                    <h2>Nice classrooms with wifi</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-03.jpg"%>
                  <div class="about_caption">
                    <h2>Rich library - open 24/7</h2>
                  </div><!--end banner_caption-->
                </li>
              </ul>
            </div><!--end banner-->
          </div><!--end content left-->
        </div>
      </div><!--end row-->
      <br>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="content_right">
            <div class="banner" id="about_banner7">
              <ul class="slides">
                <li>
                  <%= image_tag "about-slide-01.jpg"%>
                  <div class="about_caption">
                    <h2> Dedicated support stuffs for students</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-02.jpg"%>
                  <div class="about_caption">
                    <h2>Nice classrooms with wifi</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-03.jpg"%>
                  <div class="about_caption">
                    <h2>Rich library - open 24/7</h2>
                  </div><!--end banner_caption-->
                </li>
              </ul>
            </div><!--end banner-->
          </div><!--end content left-->
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="content_left features">
            <h1>Design & Drawing Studio</h1>
            <p>The Design & Drawing Studio is designed to provide students with utmost comfort and convenience while working on their Design & Drawing-related subjects. The studios are well-equipped with Mac computers and Wacom drawing tablets and is open to students upon booking.</p>
          </div><!--end content left-->
        </div>
      </div><!--end row-->
    </div><!--end container-->
  </div><!--end content top-->
</div>
