<!-- BANNER -->
<div class="bannercontainer bannerV2">
  <div class="fullscreenbanner-container">
    <div class="fullscreenbanner">
      <ul>
        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
          <%= image_tag "course_banner_1.jpg", alt: "slidebg1", data_bgfit: "cover", data_bgposition: "center center", data_bgrepeat: "no-repeat"%>
          <div class="slider-caption container">
            <div class="tp-caption rs-caption-1 sft text-center"
              data-x="center"
              data-y="210"
              data-speed="800"
              data-start="500"
              data-easing="Back.easeInOut"
              data-endspeed="300">
              Sale Your Courses Online
            </div>
            <div class="tp-caption rs-caption-2 sft text-center"
              data-x="center"
              data-y="320"
              data-speed="1000"
              data-start="1500"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat.
            </div>
            <div class="tp-caption rs-caption-3 sft text-center"
              data-x="center"
              data-y="400"
              data-speed="800"
              data-start="2000"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off">
              <a href="#" class="btn primary-btn">Start Now</a>
            </div>
          </div>
        </li>
        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
          <%= image_tag "course_banner_2.jpg", alt: "slidebg2", data_bgfit: "cover", data_bgposition: "center center", data_bgrepeat: "no-repeat"%>
          <div class="slider-caption container">
            <div class="tp-caption rs-caption-1 sft"
              data-hoffset="0"
              data-y="210"
              data-speed="800"
              data-start="500"
              data-easing="Back.easeInOut"
              data-endspeed="300">
              Sale Your Courses Online
            </div>
            <div class="tp-caption rs-caption-2 sft"
              data-hoffset="0"
              data-y="320"
              data-speed="1000"
              data-start="1500"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat.
            </div>
            <div class="tp-caption rs-caption-3 sft"
              data-hoffset="0"
              data-y="400"
              data-speed="800"
              data-start="2000"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off">
              <a href="#" class="btn primary-btn">Start Now</a>
            </div>
          </div>
        </li>
        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
          <%= image_tag "course_banner_3.jpg", alt: "slidebg3", data_bgfit: "cover", data_bgposition: "center center", data_bgrepeat: "no-repeat"%>
          <div class="slider-caption container">
            <div class="tp-caption rs-caption-1 sft text-right"
              data-hoffset="-50"
              data-x="right"
              data-y="210"
              data-speed="800"
              data-start="500"
              data-easing="Back.easeInOut"
              data-endspeed="300">
              Sale Your Courses Online
            </div>
            <div class="tp-caption rs-caption-2 sft text-right"
              data-hoffset="-50"
              data-x="right"
              data-y="320"
              data-speed="1000"
              data-start="1500"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat.
            </div>
            <div class="tp-caption rs-caption-3 sft text-right"
              data-hoffset="-50"
              data-x="right"
              data-y="400"
              data-speed="800"
              data-start="2000"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off">
              <a href="#" class="btn primary-btn">Start Now</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- BANNER BOTTOM -->
<div class="banner-bottom">
  <div class="container">
    <div class="banner-bottom-inner">
      <div class="row">
        <div class="col-sm-4">
          <div class="selectBox select-category clearfix">
            <select name="guiest_id4" id="guiest_id4">
              <option value="0"><i class="fa fa-align-justify" aria-hidden="true"></i>Course Catagories</option>
              <option value="1">Course 1</option>
              <option value="2">Course 2</option>
              <option value="3">Course 3</option>
              <option value="3">Course 4</option>
            </select>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="searchCourse">
            <form action="courses.html" method="post">
              <input type="text" placeholder="Search by online courses..." id="exampleInputEmail1" class="form-control">
              <button class="btn btn-default commonBtn" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MAIN CONTENT -->
<div class="main-content">
  <div class="container">
    <div class="info-section">
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <div class="box text-center">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <div class="separator"></div>
            <span>Over 5,000 Students Enrolled</span>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="box text-center">
            <i class="fa fa-shield" aria-hidden="true"></i>
            <div class="separator"></div>
            <span>Get Certified Once Completed</span>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="box text-center">
            <i class="fa fa-book" aria-hidden="true"></i>
            <div class="separator"></div>
            <span>500 + Online Courses and Increasing</span>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="box text-center">
            <i class="fa fa-group" aria-hidden="true"></i>
            <div class="separator"></div>
            <span>More than 100 Super Qualified Instructor</span>
          </div>
        </div>
      </div>
    </div>

    <!--POPULAR COURSE -->
    <div class="popularCourse padding clearfix">
      <div class="sectionTitle text-center">
        <h3>Popular Courses</h3>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="imageBox">
            <div class="productImage clearfix">
              <a href="single-course-right-sidebar.html">
                <%= image_tag "course-img1.jpg", alt: "Image"%>                  
              </a>
              <span class="sticker"><i class="fa fa-clock-o" aria-hidden="true"></i>6 Hours</span>
            </div>
            <div class="productCaption clearfix">
              <h3><a href="single-course-right-sidebar.html">Lorem ipsum dolor sit amet consectetur adipiscing.</a></h3>
              <div class="product-meta">
                <span class="author">by: John Doe</span>
              </div>
              <div class="rating">
                <span class="rating-star">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>
                <span class="rating-review">(20 Reviews)</span>
              </div>
              <div class="caption-bottom">
                <div class="price">
                  <span class="offer-price">$79</span>
                  <span class="regular-price"><del>$100</del></span>
                </div>
                <div class="user">
                  <i class="fa fa-user-o" aria-hidden="true"></i>
                  <span class="course-user">5.9 k <br> Enroled</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="imageBox">
            <div class="productImage clearfix">
              <a href="single-course-right-sidebar.html"><%= image_tag "course-img2.jpg", alt: "Image"%>
              </a>
              <span class="sticker"><i class="fa fa-clock-o" aria-hidden="true"></i>6 Hours</span>
            </div>
            <div class="productCaption clearfix">
              <h3><a href="single-course-right-sidebar.html">Lorem ipsum dolor sit amet consectetur adipiscing.</a></h3>
              <div class="product-meta">
                <span class="author">by: John Doe</span>
              </div>
              <div class="rating">
                <span class="rating-star">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>
                <span class="rating-review">(20 Reviews)</span>
              </div>
              <div class="caption-bottom">
                <div class="price">
                  <span class="offer-price">$79</span>
                  <span class="regular-price"><del>$100</del></span>
                </div>
                <div class="user">
                  <i class="fa fa-user-o" aria-hidden="true"></i>
                  <span class="course-user">5.9 k <br> Enroled</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="imageBox">
            <div class="productImage clearfix">
              <a href="single-course-right-sidebar.html"><%= image_tag "course-img3.jpg", alt: "Image"%>  
              </a>
              <span class="sticker"><i class="fa fa-clock-o" aria-hidden="true"></i>6 Hours</span>
            </div>
            <div class="productCaption clearfix">
              <h3><a href="single-course-right-sidebar.html">Lorem ipsum dolor sit amet consectetur adipiscing.</a></h3>
              <div class="product-meta">
                <span class="author">by: John Doe</span>
              </div>
              <div class="rating">
                <span class="rating-star">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>
                <span class="rating-review">(20 Reviews)</span>
              </div>
              <div class="caption-bottom">
                <div class="price">
                  <span class="offer-price">$79</span>
                  <span class="regular-price"><del>$100</del></span>
                </div>
                <div class="user">
                  <i class="fa fa-user-o" aria-hidden="true"></i>
                  <span class="course-user">5.9 k <br> Enroled</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="imageBox">
            <div class="productImage clearfix">
              <a href="single-course-right-sidebar.html"><%= image_tag "course-img4.jpg", alt: "Image"%>
              </a>
              <span class="sticker"><i class="fa fa-clock-o" aria-hidden="true"></i>6 Hours</span>
            </div>
            <div class="productCaption clearfix">
              <h3><a href="single-course-right-sidebar.html">Lorem ipsum dolor sit amet consectetur adipiscing.</a></h3>
              <div class="product-meta">
                <span class="author">by: John Doe</span>
              </div>
              <div class="rating">
                <span class="rating-star">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>
                <span class="rating-review">(20 Reviews)</span>
              </div>
              <div class="caption-bottom">
                <div class="price">
                  <span class="offer-price">$79</span>
                  <span class="regular-price"><del>$100</del></span>
                </div>
                <div class="user">
                  <i class="fa fa-user-o" aria-hidden="true"></i>
                  <span class="course-user">5.9 k <br> Enroled</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btnArea text-center">
        <a href="" class="btn btn-default commonBtn">View more</a>
      </div>
    </div>

  </div>
</div>

<!-- COURSE CATEGORY -->
<section class="courseCategory padding paralax" style="background-image: url('<%= asset_path("paralax03a.jpg")%>');">
  <div class="container">
    <div class="sectionTitle text-center">
      <h3>Course Categories</h3>
    </div>

    <div class="row">
      <div class="col-sm-4 col-xs-6">
        <div class="text-box">
          <div class="text-box-icon">
            <i class="fa fa-paint-brush" aria-hidden="true"></i>
          </div>
          <div class="text-box-top">
            <h4><a href="">Design</a></h4>
            <a class="courseNo" href="">10 Course</a>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-xs-6">
        <div class="text-box">
          <div class="text-box-icon">
            <i class="fa fa-music" aria-hidden="true"></i>
          </div>
          <div class="text-box-top">
            <h4><a href="">Music</a></h4>
            <a class="courseNo" href="">8 Course</a>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-xs-6">
        <div class="text-box">
          <div class="text-box-icon">
            <i class="fa fa-gamepad" aria-hidden="true"></i>
          </div>
          <div class="text-box-top">
            <h4><a href="">Gaming</a></h4>
            <a class="courseNo" href="">6 Course</a>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-xs-6">
        <div class="text-box">
          <div class="text-box-icon">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
          </div>
          <div class="text-box-top">
            <h4><a href="">Technology</a></h4>
            <a class="courseNo" href="">9 Course</a>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-xs-6">
        <div class="text-box">
          <div class="text-box-icon">
            <i class="fa fa-code" aria-hidden="true"></i>
          </div>
          <div class="text-box-top">
            <h4><a href="">Development</a></h4>
            <a class="courseNo" href="">12 Course</a>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-xs-6">
        <div class="text-box">
          <div class="text-box-icon">
            <i class="fa fa-camera-retro" aria-hidden="true"></i>
          </div>
          <div class="text-box-top">
            <h4><a href="">Photography</a></h4>
            <a class="courseNo" href="">4 Course</a>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
          </div>
        </div>
      </div>
    </div>

    <div class="btnArea text-center">
      <a href="" class="btn btn-default commonBtn">View more</a>
    </div>
  </div>
</section>

<!-- LIGHT SECTION -->
<section class="clearfix padding feature-section">
  <div class="container">

    <div class="sectionTitle text-center">
      <h3>Why Royal Course?</h3>
    </div>

    <div class="row">
      <div class="col-sm-3 col-xs-6 text-center">
        <div class="feature-box">
          <span><i class="fa fa-firefox" aria-hidden="true"></i></span>
          <h3>Learn Anything Online</h3>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6 text-center">
        <div class="feature-box">
          <span><i class="fa fa-desktop" aria-hidden="true"></i></span>
          <h3>Learn On Any Device</h3>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6 text-center">
        <div class="feature-box">
          <span><i class="fa fa-id-badge" aria-hidden="true"></i></span>
          <h3>Cartification Courses</h3>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6 text-center">
        <div class="feature-box">
          <span><i class="fa fa-headphones" aria-hidden="true"></i></span>
          <h3>24/7 Support</h3>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
        </div>
      </div>
    </div>

    <div class="btnArea text-center">
      <a href="" class="btn btn-default commonBtn">All Categories</a>
      <a href="" class="btn btn-default commonBtn secondaryBtn">View more</a>
    </div>

  </div>
</section>

<!-- SUCCESS SECTION -->
<% if Rails.env.development? %>
  <section class="clearfix padding success-section">
    <div class="container">
      <div class="sectionTitle text-center">
        <h3>Success Stories</h3>
      </div>

      <div class="owl-carousel success-inner">
        <div class="slide">
          <div class="row">
            <div class="col-sm-6 col-xs-12 text-center">
              <div class="success_video">
                <%= image_tag "video-img.jpg", data_video: "https://www.youtube.com/embed/oOMcZoeEK0A?autoplay=1"%>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12 text-center">
              <div class="slide-info">
                <div class="carousal_content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate </p>
                </div>
                <div class="carousal_bottom">
                  <div class="thumb">
                    <%= image_tag "thumb1.png", alt: "Image",  draggable:"false"%>
                  </div>
                  <div class="thumb_title">
                    <span class="author_name">John Doe</span>
                    <span class="author_designation">PHD Student<a href="#"> Apple Inc</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="slide">
          <div class="row">
            <div class="col-sm-6 col-xs-12 text-center">
              <div class="success_video">
                <%= image_tag "video-img.jpg", data_video:"https://www.youtube.com/embed/oOMcZoeEK0A?autoplay=1"%>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12 text-center">
              <div class="slide-info">
                <div class="carousal_content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate </p>
                </div>
                <div class="carousal_bottom">
                  <div class="thumb">
                    <%= image_tag "thumb1.png", alt: "Image", draggable: "false"%>
                  </div>
                  <div class="thumb_title">
                    <span class="author_name">John Doe</span>
                    <span class="author_designation">PHD Student<a href="#"> Apple Inc</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="slide">
          <div class="row">
            <div class="col-sm-6 col-xs-12 text-center">
              <div class="success_video">
                <%= image_tag "video-img.jpg", data_video:"https://www.youtube.com/embed/oOMcZoeEK0A?autoplay=1"%>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12 text-center">
              <div class="slide-info">
                <div class="carousal_content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate </p>
                </div>
                <div class="carousal_bottom">
                  <div class="thumb">
                    <%= image_tag "thumb1.png", alt: "Image", draggable:"false"%>
                  </div>
                  <div class="thumb_title">
                    <span class="author_name">John Doe</span>
                    <span class="author_designation">PHD Student<a href="#"> Apple Inc</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
<% end %>
