<div class="single_banner">
  <div class="container">
    <div class="single_banner_inner">
      <%= image_tag "inter-pic.jpg"%>
      <div class="single_caption">
        <h1>International Students</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
      </div><!--end single caption-->
    </div>
  </div><!--end container-->
</div>
<div class="custom_content">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-8 col-md-8 custom_right">
        <div class="single_content_left">
          <div class="block_quate custom">
            <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt”</p>
          </div><!--end block_quate-->
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>

          <div class="admission_video">
            <%= image_tag "video_thumb.jpg", data_video: "https://www.youtube.com/embed/oOMcZoeEK0A?autoplay=1"%>
          </div><!--end admission_video-->

          <div class="row custom">
            <div class="col-xs-12 col-sm-6">
              <div class="left_half">
                <h2>Welcome To COLÉGIO RELÚDIO</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </p>
              </div>
            </div><!-- col-sm-6 -->
            <div class="col-xs-12 col-sm-6 pull-right">
              <div class="right_half">
                <h2>Welcome To COLÉGIO RELÚDIO</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </p>
              </div>
            </div><!-- col-sm-6 -->
          </div> <!-- row -->

          <div class="admission-border"></div>

          <div class="course-title">
            <h2>Populer Courses</h2>
          </div>

          <div class="row resultPart clearfix">
            <div class="col-xs-6 col-sm-4">
              <div class="aboutImage">
                <a href="single-course-right-sidebar.html">
                  <%= image_tag "learn_1.jpg", class: "img-responsive"%>
                  <div class="overlay">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.</p>
                  </div>
                  <span class="captionLink">View Details<span></span></span>
                </a>
              </div><!-- aboutImage -->
            </div>

            <div class="col-xs-6 col-sm-4">
              <div class="aboutImage">
                <a href="single-course-right-sidebar.html">
                  <%= image_tag "learn_1.jpg", class: "img-responsive"%>
                  <div class="overlay">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.</p>
                  </div>
                  <span class="captionLink">View Details<span></span></span>
                </a>
              </div><!-- aboutImage -->
            </div>

            <div class="col-xs-6 col-sm-4">
              <div class="aboutImage">
                <a href="single-course-right-sidebar.html">
                  <%= image_tag "learn_1.jpg", class: "img-responsive"%>
                  <div class="overlay">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.</p>
                  </div>
                  <span class="captionLink">View Details<span></span></span>
                </a>
              </div><!-- aboutImage -->
            </div>
          </div><!-- row -->

        </div><!--end single content left-->
      </div><!--custom_right-->

      <div class="col-xs-12 col-sm-4 custom_left">
        <div class="sidebar">
          <div class="sidebar_item admission">
            <div class="item_inner program">
              <ul>
                <li><a href="about.html">About Royal College</a></li>
                <li><a href="campus.html">Campus Life</a></li>
                <li class="active"><a href="international_students.html">International Students</a></li>
                <li><a href="buying-steps.html">Admission</a></li>
                <li><a href="course-fullwidth.html">Courses</a></li>
                <li><a href="buying-steps.html">Apply Now</a></li>
              </ul>
            </div>
          </div><!--end sidebar item-->
          <div class="list_block">
            <div class="formArea admission">
              <div class="formTitle">
                <h3>Find a Course</h3>
                <p>Offered in small class sizes with great emphasis on the demands of the specification and exam technique.</p>
              </div><!-- formTitle -->
              <form action="#" method="post">
                <div class="selectBox clearfix">
                  <select name="guiest_id1" id="guiest_id1">
                    <option value="0">Location</option>
                    <option value="1">Location_1</option>
                    <option value="2">Location_2</option>
                    <option value="3">Location_3</option>
                  </select>
                </div><!-- selectBox -->
                <div class="selectBox clearfix">
                  <select name="guiest_id2" id="guiest_id2">
                    <option value="0">Level</option>
                    <option value="1">Level_1</option>
                    <option value="2">Level_2</option>
                    <option value="3">Level_3</option>
                  </select>
                </div><!-- selectBox -->
                <div class="form-group">
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Course Name">
                </div>
                <button type="submit" class="btn btn-default btn-block commonBtn">Search</button>
              </form>
            </div><!-- formArea -->
          </div><!--end list_block-->
          <div class="list_block">
            <div class="newsletter">
              <h3>Newsletter</h3>
              <form method="post" action="#">
                <div class="form-group">
                  <input type="text" placeholder="Email" id="exampleInputEmail1" class="form-control">
                </div>
                <button class="btn btn-default btn-block commonBtn" type="submit">Subscribe</button>
              </form>
            </div><!--end newsletter-->
          </div><!--end list_block-->
        </div><!--end sidebar-->
      </div>
    </div><!--end row-->
  </div><!--end container-->
</div><!--end custom content-->

