 <div class="item active">
    <%= image_tag "ST11248-1.jpg", style: "height:500px; width:100%;"%>
   <div class="banner_caption">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="caption_inner animated fadeInUp text">
            <h1>Sports & Recreation</h1>
          </div><!--end caption_inner-->
        </div>
      </div><!--end row-->
    </div><!--end container-->
  </div><!--end banner_caption-->
</div>
<div class="custom_content clearfix">
  <div class="container">
    <div class="photo_gallery custom">
      <ul class="gallery popup-gallery">
        <li>
          <a href="img/campus/1.jpg" title="Photo 1">
            <%= image_tag "1.jpg"%>
            <div class="overlay">
              <span class="zoom">
                <i class="fa fa-search"></i>
              </span>
            </div>
          </a>
        </li>
        <li>
          <a href="img/campus/2.jpg" title="Photo 2">
            <%= image_tag "2.jpg"%>
            <div class="overlay">
              <span class="zoom">
                <i class="fa fa-search"></i>
              </span>
            </div>
          </a>
        </li>
        <li>
          <a href="img/campus/3.jpg" title="Photo 3">
            <%= image_tag "3.jpg"%>
            <div class="overlay">
              <span class="zoom">
                <i class="fa fa-search"></i>
              </span>
            </div>
          </a>
        </li>
        <li>
          <a href="img/campus/4.jpg" title="Photo 4">
            <%= image_tag "4.jpg"%>
            <div class="overlay">
              <span class="zoom">
                <i class="fa fa-search"></i>
              </span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="custom_content clearfix">
  <div class="container">
    <div class="photo_gallery custom">
      <ul class="gallery popup-gallery">
        <li>
          <a href="img/campus/1.jpg" title="Photo 1">
            <%= image_tag "1.jpg"%>
            <div class="overlay">
              <span class="zoom">
                <i class="fa fa-search"></i>
              </span>
            </div>
          </a>
        </li>
        <li>
          <a href="img/campus/2.jpg" title="Photo 2">
            <%= image_tag "2.jpg"%>
            <div class="overlay">
              <span class="zoom">
                <i class="fa fa-search"></i>
              </span>
            </div>
          </a>
        </li>
        <li>
          <a href="img/campus/3.jpg" title="Photo 3">
            <%= image_tag "3.jpg"%>
            <div class="overlay">
              <span class="zoom">
                <i class="fa fa-search"></i>
              </span>
            </div>
          </a>
        </li>
        <li>
          <a href="img/campus/4.jpg" title="Photo 4">
            <%= image_tag "4.jpg"%>
            <div class="overlay">
              <span class="zoom">
                <i class="fa fa-search"></i>
              </span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
              