<div class="main_wrapper">
  <div class="content_top clearfix">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="content_right">
            <div class="banner" id="about_banner">
              <ul class="slides">
                <li>
                  <%= image_tag "about-slide-01.jpg"%>
                  <div class="about_caption">
                    <h2> Dedicated support stuffs for students</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-02.jpg"%>
                  <div class="about_caption">
                    <h2>Nice classrooms with wifi</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-03.jpg"%>
                  <div class="about_caption">
                    <h2>Rich library - open 24/7</h2>
                  </div><!--end banner_caption-->
                </li>
              </ul>
            </div><!--end banner-->
          </div><!--end content left-->
        </div>
        <div class="col-xs-12 col-sm-6 r1">
          <div class="content_left features">
            <h1>Course & Personal Counseling</h1>
            <p>To ensure that you get the best out of you life at SU, we offer course counselling to help you with making decisions on your academic pathways. Our Student Services Executives will explain the courses offered at SU, guide you through enrollment, and provide information on course admission, fees, scholarships, loan application, etc.</p>

            <p>To ensure that our students get the best out of their life at ASU, we offer personal counselling services geared towards helping you with academic concerns as well as emotional matters. ‘You can be assured that all counselling is done in a safe and confidential environment by qualified counsellors. We are confidential and non-judgmental, we offer positive encouragement, and we talk to you in a friendly and safe environment.</p>
          </div><!--end content left-->
        </div>
      </div><!--end row-->
      <br>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-6 r1">
          <div class="content_left features">
            <h1>International support</h1>
            <p>Our International Students Support Centre helps you with the procedure to apply for your Student Pass before coming here. Upon arrival in Indore, we will send someone from SU to pick you up from the airport/Railway station  and bring you to campus.</p>

            <p>It is our job to make you feel at home, so be sure to contact us if you need any assistance or have any questions during your early days here.</p>
          </div><!--end content left-->
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="content_right p1">
            <div class="banner" id="about_banner2">
              <ul class="slides">
                <li>
                  <%= image_tag "about-slide-01.jpg"%>
                  <div class="about_caption">
                    <h2> Dedicated support stuffs for students</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-02.jpg"%>
                  <div class="about_caption">
                    <h2>Nice classrooms with wifi</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-03.jpg"%>
                  <div class="about_caption">
                    <h2>Rich library - open 24/7</h2>
                  </div><!--end banner_caption-->
                </li>
              </ul>
            </div><!--end banner-->
          </div><!--end content left-->
        </div>
      </div><!--end row-->
      <br>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-6 r1">
          <div class="content_right p1">
            <div class="banner" id="about_banner3">
              <ul class="slides">
                <li>
                  <%= image_tag "about-slide-01.jpg"%>
                  <div class="about_caption">
                    <h2> Dedicated support stuffs for students</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-02.jpg"%>
                  <div class="about_caption">
                    <h2>Nice classrooms with wifi</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-03.jpg"%>
                  <div class="about_caption">
                    <h2>Rich library - open 24/7</h2>
                  </div><!--end banner_caption-->
                </li>
              </ul>
            </div><!--end banner-->
          </div><!--end content left-->
        </div>
        <div class="col-xs-12 col-sm-6 r1">
          <div class="content_left features">
            <h1>Accommodation Services</h1>
            <p>We want to make sure that all our students find the right type, well-priced, and good quality accommodation.</p>

            <p>Whether you decide to stay in our university-managed accommodation or rent a private housing or apartment, our Student Services will be glad to assist and advice you.</p>
          </div><!--end content left-->
        </div>
      </div><!--end row-->
      <br>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-6 r1">
          <div class="content_left features">
            <h1>Career support centre</h1>
            <p>Our career support centre manages a job placement service and connects our students profiles to a number of prospective</p>

            <p>employers. In addition, career talks, resume building workshops, career path consultation and career interview sessions are regularly conducted on campus to provide you with quality career support and guidance..</p>
          </div><!--end content left-->
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="content_right p1">
            <div class="banner" id="about_banner4">
              <ul class="slides">
                <li>
                  <%= image_tag "about-slide-01.jpg"%>
                  <div class="about_caption">
                    <h2> Dedicated support stuffs for students</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-02.jpg"%>
                  <div class="about_caption">
                    <h2>Nice classrooms with wifi</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-03.jpg"%>
                  <div class="about_caption">
                    <h2>Rich library - open 24/7</h2>
                  </div><!--end banner_caption-->
                </li>
              </ul>
            </div><!--end banner-->
          </div><!--end content left-->
        </div>
      </div><!--end row-->
      <br>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="content_right p1">
            <div class="banner" id="about_banner5">
              <ul class="slides">
                <li>
                  <%= image_tag "about-slide-01.jpg"%>
                  <div class="about_caption">
                    <h2> Dedicated support stuffs for students</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-02.jpg"%>
                  <div class="about_caption">
                    <h2>Nice classrooms with wifi</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-03.jpg"%>
                  <div class="about_caption">
                    <h2>Rich library - open 24/7</h2>
                  </div><!--end banner_caption-->
                </li>
              </ul>
            </div><!--end banner-->
          </div><!--end content left-->
        </div>
        <div class="col-xs-12 col-sm-6 r1">
          <div class="content_left features">
            <h1>Money matters</h1>
            <p>When you go into higher education, you are making an investment in your future. However you need to make sure that you have the funding to support you throughout your university years. We will assist you with applying for financial aid, scholarships, loans, and how to supplement your income by working while studying. For international students, we will also help you to open your banking account with a local bank when you arrive here.</p>
          </div><!--end content left-->
        </div>
      </div><!--end row-->
      <br>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-6 r1">
          <div class="content_left features">
            <h1>Student ambassadors</h1>
            <p>Students at SU have the opportunity to work alongside with the staff of the University when it comes to dealings in Student Services and Marketing. These students are known as our Student Ambassadors. Those who are selected gets hands-on experiences in working with people of diverse culture, inducing a corporate working environment in their mindset even before graduation.</p>
          </div><!--end content left-->
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="content_right p1">
            <div class="banner" id="about_banner6">
              <ul class="slides">
                <li>
                  <%= image_tag "about-slide-01.jpg"%>
                  <div class="about_caption">
                    <h2> Dedicated support stuffs for students</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-02.jpg"%>
                  <div class="about_caption">
                    <h2>Nice classrooms with wifi</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-03.jpg"%>
                  <div class="about_caption">
                    <h2>Rich library - open 24/7</h2>
                  </div><!--end banner_caption-->
                </li>
              </ul>
            </div><!--end banner-->
          </div><!--end content left-->
        </div>
      </div><!--end row-->
      <br>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="content_right p1">
            <div class="banner" id="about_banner7">
              <ul class="slides">
                <li>
                  <%= image_tag "about-slide-01.jpg"%>
                  <div class="about_caption">
                    <h2> Dedicated support stuffs for students</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-02.jpg"%>
                  <div class="about_caption">
                    <h2>Nice classrooms with wifi</h2>
                  </div><!--end banner_caption-->
                </li>

                <li>
                  <%= image_tag "about-slide-03.jpg"%>
                  <div class="about_caption">
                    <h2>Rich library - open 24/7</h2>
                  </div><!--end banner_caption-->
                </li>
              </ul>
            </div><!--end banner-->
          </div><!--end content left-->
        </div>
        <div class="col-xs-12 col-sm-6 r1">
          <div class="content_left features">
            <h1>School Outreach</h1>
            <p>The SU Student Services Team has been actively organizing outreach events at secondary schools nationwide. These events include workshops, talks, career fairs and other events that are designed to develop students’ skills in various areas.</p>
          </div><!--end content left-->
        </div>
      </div><!--end row-->
      <br>
      <br>
    </div><!--end container-->
  </div><!--end content top-->
</div>