<div class="custom_content custom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 custom_right">
        <div class="single_content_left">
          <div class="row">
            <div class="col-xs-12">
              <h3>Our Campus</h3>
              <div class="banner carousel slide" id="recommended-item-carousel" data-ride="carousel">
                <div class="slides carousel-inner">
                  <div class="item active">
                    <%= image_tag "slider_image_1.jpg" %>
                  </div>
                  <div class="item">
                    <%= image_tag "slider_image_2.jpg" %>
                  </div>
                  <div class="item">
                    <%= image_tag "slider_image_3.jpg" %>
                  </div>
                </div>
                <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                  <%= image_tag "prev.png" %>
                </a>
                <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                  <%= image_tag "next.png" %> 
                </a>
                 <ol class="carousel-indicators">
                  <li data-target="#recommended-item-carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#recommended-item-carousel" data-slide-to="1"></li>
                  <li data-target="#recommended-item-carousel" data-slide-to="2"></li>
                </ol>
              </div><!--end banner-->
            </div>
          </div><!--end row-->
          <div class="row">
            <div class="col-xs-12">
              <div class="block_quate">
                <p>Nurturing Professional for Global Careers – SAGE University is amongst Premier Private Universities, and is where a unique fusion of technology, innovation and creativity works effectively towards preparing professional graduates for significant roles in business and society globally. It is promoted by the Management of Sagar Group of Institutions which has earned an enviable reputation as an award-winning Education Group through its achievements in winning a host of prestigious awards at national and international levels. SAGE University sound approach to nurturing school leavers into qualified professionals will results our graduates being highly sought after by employers.</p>
              </div>
            </div>
          </div><!--end row-->
          <p>While Technology forms a common core as an enabler across its academic programmes, SAGE University offers a broad range of programmes encompassing areas such as Applied Sciences, Agriculture, Computing, Technology and Engineering, as well as programs in Business, Accounting, Journalism and Mass Communication, Banking, Finance, LAW and Humanities. Whichever programme you choose be rest assured that our academic model of global standard ensures innovation and improvements in curriculum, teaching-learning process, and examination and evaluation systems. SAGE is learning focused University which you will feel by Project Based Learning: A Hands On Approach To Teaching from first day.
          </p>
        </div><!--end single content left-->
      </div>
      <div class="col-xs-12 col-sm-4 custom_left">
        <div class="sidebar">
          <div class="list_block custom">
            <h3>Our Location</h3>

            <div class="location_map">
              <iframe src="https://maps.google.com/maps?hl=en&q=New York&ie=UTF8&t=roadmap&z=6&iwloc=B&output=embed" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <h4>Lid est laborum dolo</h4>
            <p>12345 Main Street, New York, NY 02781<br> Phone: 1.800.555.6789<br> Web: 
              <a href="#">www.yoursite.com</a>
            </p>
          </div><!--end sidebar item-->
        </div><!--end sidebar-->
      </div>
    </div><!--end row-->
  </div>
</div><!--end custom content-->
