  <div class="post_section">
  <div class="container">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-8 post_left">
        <div class="upcoming_events event-col">
          <div class="related_post_sec single_post">
            <span class="date-wrapper">
              <span class="date"><span><%= @event.start_datetime.strftime("%d")%></span><%= @event.start_datetime.strftime("%b")%></span>
            </span>
            <div class="rel_right">
              <div class="single_post single-event">
                <h1><%= @event.title %></h1>
                <div class="meta">
                  <span class="place"><i class="fa fa-map-marker"></i><%= @event.venue%></span>
                  <span class="event-time"><i class="fa fa-clock-o"></i><%= @event.start_datetime.strftime("%H.%M %p")%></span>
                </div>
                <div class="post_desc">
                  <%= @event.description.html_safe %>
                 </div>
              </div><!--end single_post-->
            </div>
          </div>
        </div>
        <div class="comments_section">
            <div class="comment_post">
              <h3>Comments</h3>
              <div class="comment_header">
                <ul>
                  <li class="comment_count">1 comment</li>
                  <li class="comment_favorite_count"><i class="fa fa-star"></i> <span>0</span></li>
                </ul>
              </div><!--end comment header-->
              <form class="reply" action="#" method="post">
                <div class="postbox">
                  <div class="avatar">
                    <span class="user">
                      <%= image_tag "avatar.png"%>
                    </span>
                  </div>
                  <div class="comments_field">
                    <input type="text" class="form-control comments" placeholder="Leave a message...">
                  </div><!--end comments field-->
                </div><!--end postbox-->
                <div id="post_list">
                  <div class="comment_tools">
                    <ul>
                      <li class="sort"><a href="#">Best <i class="fa fa-caret-down"></i></a></li>
                      <li class="community"><a href="#">Community</a></li>
                      <li class="setting"><a href="#"><img src="img/news/setting.png" alt="" /> <i class="fa fa-caret-down"></i></a></li>
                      <li class="share"><a href="#">Share <i class="fa fa-share-square-o"></i></a></li>
                    </ul>
                  </div><!--end comment tools-->
                  <div class="post-content" data-role="post-content">
                    <div class="avatar">
                      <span class="user">
                      <%= image_tag "avatar.png"%>
                      </span>
                    </div>
                    <div class="post-body">
                      <div class="post-top">
                        <span class="post-byline">
                          <span class="author publisher-anchor-color"><a href="#">Gavin Hoffman</a></span>
                        </span>
                        <span class="post-meta">
                          <a  href="#">5 hours ago</a>
                        </span>
                      </div><!--end post-top-->
                      <div class="post-body-inner">
                        <div  class="post-message">
                          <p>I loving this DISQUS PSD - so easy to edit to see what my design looks like before I install :)</p>
                        </div>
                      </div><!--end post-body-inner-->
                      <ul class="comment_footer">
                        <li data-role="voting" class="voting">
                          <a  href="#">
                            <span class="control left"><i class="fa fa-angle-up"></i></span>
                          </a>
                          <span title="Vote down" data-action="downvote" class="vote-down  count-1" role="button">

                            <span class="control"><i class="fa fa-angle-down"></i></span>
                          </span>
                        </li>
                        <li data-role="reply-link" class="reply">
                          <a data-action="reply" href="#">Reply</a>
                        </li>
                        <li class="share">
                          <a class="toggle"><span class="text">Share <i class="fa fa-angle-right"></i></span></a>
                        </li>
                      </ul>
                    </div><!--end post-body-->
                  </div><!--end post-content-->
                </div><!--end post_list-->
              </form>
              <div class="comment_bottom_block">
                <ul>
                  <li><a href="#"><i class="fa fa-rss"></i> &nbsp; Comment feed</a></li>
                  <li><a href="#"><i class="fa fa-envelope-o"></i> &nbsp; Subscribe via email</a></li>
                </ul>
              </div><!--end comment_bottom_block-->
            </div><!--end comment post-->
            <div class="comments_form">
              <h3>Post A Comment</h3>
              <form action="#" method="post">
                <div class="half">
                  <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="half right">
                  <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="full">
                  <textarea rows="9" cols="10" class="form-control" placeholder="Write a comment"></textarea>
                </div>
                <input type="submit" class="commonBtn" value="Submit">
              </form>
            </div><!--end comments form-->
          </div><!--end comments section-->
      </div><!--end post_left-->
      <div class="col-xs-12 col-sm-4 post_right">
        <div class="post_right_inner">
          <div class="related_post_sec">
            <div class="list_block">
              <h3>Latest News</h3>
              <ul>
                <% @latest_events.last(5).each do |event| %>
                  <li>
                    <span class="rel_thumb">
                      <%= image_tag event.cover_image_url, style: "    width: 193px;height: 69px;"%>
                    </span><!--end rel_thumb-->
                    <div class="rel_right">
                     <h4><%= link_to event.title, event_path(event) %></h4>
                      <span class="date">Posted: <a href="single-post-right-sidebar.html"><%= event.start_datetime.strftime("%d  %b")%></span>
                    </div><!--end rel right-->
                  </li>
                <% end %>
            </ul>
              <a href="/events" class="more_post">More</a>
            </div>
            <div class="list_block">
              <div class="newsletter">
                <h3>Newsletter</h3>
                <form action="#" method="post">
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                  </div>
                  <button type="submit" class="btn btn-default btn-block commonBtn">Subscribe</button>
                  </form>
                </div>
            </div><!-- formArea -->
          </div><!--end related_post_sec-->
        </div><!--end post right inner-->
      </div><!--end post_right-->
    </div><!--row-->
  </div>
</div><!--end post section-->
